USE [master]
GO
/****** Object:  Database [instiCloud]    Script Date: 7/17/2019 1:02:03 PM ******/
CREATE DATABASE [instiCloud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'instiCloud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\instiCloud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'instiCloud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\instiCloud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [instiCloud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [instiCloud]
GO
/****** Object:  Table [dbo].[Buyers]    Script Date: 7/17/2019 1:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyers](
	[Id] [nchar](10) NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[Father Name] [nchar](10) NOT NULL,
	[Address] [nchar](10) NOT NULL,
	[Password] [nchar](10) NOT NULL,
	[Contact] [nchar](10) NOT NULL,
	[Email] [nchar](10) NOT NULL,
	[Cnic] [nchar](10) NOT NULL,
	[Plan] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Buyers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Functionalities]    Script Date: 7/17/2019 1:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Functionalities](
	[Id] [nchar](10) NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Functionalities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plans]    Script Date: 7/17/2019 1:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plans](
	[id] [nchar](10) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Plans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[superAdmin]    Script Date: 7/17/2019 1:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[superAdmin](
	[Id] [nchar](10) NOT NULL,
	[Name] [varchar](50) NULL,
	[Password] [nchar](10) NULL,
	[Email] [nchar](10) NULL,
 CONSTRAINT [PK_superAdmin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Buyers]  WITH CHECK ADD  CONSTRAINT [FK_Buyers_Plans] FOREIGN KEY([Plan])
REFERENCES [dbo].[Plans] ([id])
GO
ALTER TABLE [dbo].[Buyers] CHECK CONSTRAINT [FK_Buyers_Plans]
GO
ALTER TABLE [dbo].[Plans]  WITH CHECK ADD  CONSTRAINT [FK_Plans_Plans] FOREIGN KEY([id])
REFERENCES [dbo].[Plans] ([id])
GO
ALTER TABLE [dbo].[Plans] CHECK CONSTRAINT [FK_Plans_Plans]
GO
USE [master]
GO
